.vc {
  position:relative;
  width:100%;
  margin:1vh;
}
.vc_img {
  object-fit:cover; 
  overflow:hidden; 
  margin:1vh;
}

.vc_btn {
  position:absolute;
  top:5%;
  right:10%;
  border-radius:50%
}

